.git
.gitignore
.idea
.vscode
**/target
**/node_modules
**/.next
**/.classpath
**/.factorypath
**/.project
**/.settings
**/*.iml
**/*.log
**/src/main/resources/application.yml
docs
*.md
docker-compose.yml
